.input-control {
  font-size: 1.15em;
  color: #343a40;
  font-family: inherit;
  padding: 1em;
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  font-size: 0.9em;
  box-sizing: border-box;
}

.input-control::placeholder {
  color: #e7e7e7;
  font-weight: 300;
}
